/* For accessibility ; https://www.davidmacd.com/blog/make-a-table-header-row-invisible.html*/
.hideme {
    height: 1px; border: none 
}
.noborder{
    border: none
}
.offscreen {
    height: 1px; width: 1px; position: absolute; overflow: hidden; top: -10px;
} 